body {

  background-color:var(--black-color);
  text-align: center;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* vh para ocupar toda el espacio, porque antes era solo una parte de l pantalla (insepcciòn)*/

  height: 100vh;


}

.content_paypay a{
color :var(--green-color);
}
